* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
	box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1.5;
    color: #24292e;
}

h1 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

header, section {
    margin: 0 auto;
    max-width: 1200px;
}

figure {
    border-radius: 6px 6px 0 0;
    border: 1px solid #e1e4e8;
}

svg.calendar {
    display: block;
    margin: 20px 40px 0 auto;
    max-width: 828px;
    max-height: 128px;
}

svg.caption {
    display: block;
    margin: 20px 40px 0 auto;
    max-width: 150px;
    max-height: 20px;
}

text.month {
    font-size: 10px;
    fill: #24292e;
}

text.weekday {
    font-size: 9px;
    fill: #24292e;
}

rect.day {
    outline: 1px solid rgba(27,31,35,0.06);
    outline-offset: -1px;
}

text.caption {
    fill: #586069;
    font-size: 11px;
}

rect.caption {
    outline: 1px solid rgba(27,31,35,0.06);
    outline-offset: -1px;
}

button {
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #24292e;
    text-align: center;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 6px;
    background-color: #fafbfc;
    box-shadow: 0 1px 0 rgba(27,31,35,0.04), inset 0 1px 0 hsla(0,0%,100%,0.25);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.3,0,.5,1);
    transition-property: background-color, border-color;
}

button:hover {
    background-color: #f3f4f6;
    border-color: rgba(27,31,35,0.15);
}

aside {
    float: right;
}