* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1.5;
    color: #24292e;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 18px;
    font-weight: 600;
}

h2 {
    font-size: 16px;
    font-weight: 400;
}

section {
    min-height: 80px;
    margin: 0 auto;
    border: 1px solid grey;
}

svg {
    display: block;
    margin: 0 auto;
    max-width: 828px;
    max-height: 128px;
}

.month {
    font-size: 10px;
    fill: #24292e;
}

.weekday {
    font-size: 9px;
    fill: #24292e;
}

.day {
    outline: 1px solid rgba(27,31,35,0.06);
    outline-offset: -1px;
}