<link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-touch-icon.png">
<link rel="icon" type="image/svg+xml" href="./assets/icon.svg">
<link rel="alternate icon" href="./assets/favicon.ico">
<link rel="mask-icon" href="./assets/icon.svg" color="#ffffff">
<link rel="stylesheet" type="text/css" href="./ohthatlooksnice.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@sylvie_d__">
<meta name="twitter:title" content="Draw your own GitHub contribution graph">
<meta name="twitter:description" content="Useful? No. Relevant? No. Visually pleasing? Also no. Well, it all depends on your artistic skills...">
<meta name="twitter:image" content="https://my-github-graph.web.app/assets/heart.png">
<meta name="twitter:image:alt" content="Pixel art in a GitHub contribution graph using the four green shades associated to GitHub contributions">